html, body {
	height: 100%;
   	margin:0;
   	padding:0;
}

.mapBlock {
	width: 98%;
	height: 600px;
	margin: 10px;
	margin-bottom: -10px;
}

#map {
	width: 100%;
	height: 100%;
}

.nameForm {
	margin-left: 10px;
	margin-bottom: 5px;
}

.markerBox {
	background: lightgrey;
	width: 450px;
	margin-left: 10px;
	margin-top: -25px;
	padding-bottom: 5px;
}

.text {
	padding-left: 10px;
	padding-top: 10px;
}

.lng {
	float: left;
	padding-top: 0px;
}

.bt {
	border: solid 1px red;
}